Para utilizar la aplicación, primero se necesita instalar algunas librerias con estos comandos:
Libreria tk:
pip install tk // sudo apt install python3-tk

Libreria pymongo
Paso 1: sudo apt install python3-pip
Paso 2: pip3 install pymongo

Lineas de las librerias en el codigo (ya estan implementadas en el codigo adjunto):
import tkinter as tk
import tkinter.simpledialog as simpledialog
form tkinter import ttk, messagebox
from pymongo import MongoClient, errors




